// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|       CONTENU ACTUALITES        |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #colonne-1.contenu-actu{order:1;}
    #colonne-2.contenu-actu{order:2;}
    #colonne-3.contenu-actu{order:3;}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex{
    @include breakpoint ($desktop){
        #colonne-2.contenu-actu{
            @include border-vert-violet;
        }
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
.contenu-actu {
    h3{
    text-align: center;
    color: $vert;
    font-family: $AristaFont;
    font-size: larger;
    margin: em(5px);

}
p,li{
    font-size: small;
}
}

#table_infos_plus{
    margin: 0 auto;
    width: em(170px);
    background: transparent url('../images/bg_infos_plus_vdl.jpg') no-repeat left 0px;/*25px*/
    tbody{
        border: 0;
    }
    h3{
        font-family: $AristaFont;
        text-align: center;
        color: $bleu-turquoise;
        font-size: large;
        margin: em(5px) 0;
    }
    tr{
        background: transparent url('../images/sep_infos_plus_vdl.jpg') no-repeat bottom em(20px);

    }
    td{
        padding: em(3px) 0 em(6px) em(10px);
        text-align: center;
    }
    hr{
        border-bottom: em(1px) solid $bleu-turquoise;
        width: em(120px);
        margin: 0 auto;
    }
    a{
        color: $bleu-turquoise;
        text-decoration: none;
        text-align: center;
        &:hover{
            text-decoration: underline;
        }
    }
    .filefield-icon {
        display: none;
    }
    p{
        margin: 0;
    }
}
#colonne-2.contenu-actu{
    p{
        padding: 0.2em;
    }
    h1{
        color: $violet;
        font-size: larger;
        line-height: normal;
        margin: 0;
    }
}